<div class="container">
   <div class="dashboard">
        <h1 class="dashboard_header">Your Result</h1>
        <div class="dashboard_score">
          <h2 id="score-number" class="score-number" data-target="76">{{punteggioFinale}}</h2>
          <p class="score-text">of 20</p>
        </div>
        <div class="dashboard_grade">
          <h2 class="grade-text">Great</h2>
          <h3 class="grade-description">You scored higher than 65% of the people who have taken these tests.</h3>
        </div>
        <button class="continue" type="button" (click)="onContinue()">Continue</button>
    </div>
</div>
